@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    @if(User.Identity!.IsAuthenticated){
        <p>Welcome @User.Identity.Name</p>
    }else{
        <p>Lütfen üye olarak giriş yapın</p>
    }


</div>
