
@{
    ViewData["Title"] = "Stream";
}


@section Scripts {

    <script src="~/js/signalr_client_stream.js"></script>

}

<h1>SİGNALR STREAM</h1>

<input type="text" id="txt_stream" class="form-control" value="ahmet;hasan;emre;ayse"  />

<button class="btn btn-primary my-2" id="btn_FromClient_ToHub" >Data Gönder(by chunk)</button>
